<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">N: </ion-label>
        <ion-input id="n" type="number" formControlName="n"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-button type="submit" color="my-color"
    expand="block" fill="outline" [disabled]="!inputForm.valid">
    Submit
  </ion-button>
</form>